@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');

* {
    color: gray;
    font-family: sans-serif;
}

.blue-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 20px;
    position: absolute;
    background: #afb8ff;
    animation-name: bounce-blue;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.white-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    right: 20px;
    position: absolute;
    background: #e7e9ff;
    animation-name: bounce-white;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .text {
  }

  .login-prompt {
    position: relative;
    display: inline-block;
    padding: 10px 5px;
    color: #dc4225;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
  }

  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: green;
    font-size: 12px;
  }
  
  form button{
    border: none;
    padding: 0;
  }
  .login-box form button {

    position: relative;
    display: inline-block;
    padding: 10px 5px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
  }
  
  .login-box form button:hover {
    color: #03e9f4;
  }

  #ctrl {
    display: none;
    position: absolute;
    bottom: 70%;
    left: 45%;
  }
  #ctrl:checked + .blue-circle {
    animation-name: height-width;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  }

  
@keyframes height-width {
    100% {
        height: 100px;
        width: 100%;
    }
}

@keyframes bounce-blue {
    0% {
        bottom: 90%;        
        animation-timing-function: ease-in;

    }
    10%{
        bottom: 0;
        height: 75px;
        animation-timing-function: ease-out;
    }
    15% {
        height: 100px;
        bottom: 10%;
        animation-timing-function: ease-in;
    }
    20% {
        bottom: 0;
        height: 80px;
        animation-timing-function: ease-out;
    }
    25%{
        bottom: 5%;
        height: 100px;
        animation-timing-function: ease-in;
    }
    29% {
        bottom: 0;
        height: 90px;
        animation-timing-function: ease-in;
        left: 20px;
        width: 100px;
    }
    40%{
        bottom: 70%;
        left: 45%;
        width: 75px;
    }
    
    /* 50% {
        bottom: 50%;
        left: 50%;
    } */
    100% {
        height: 50px;
        width: 50px;
        bottom: 70%;
        left: 45%;
        
    }
    
}

@keyframes bounce-white {
    0% {
        bottom: 90%;
        
        animation-timing-function: ease-in;

    }
    10%{
        bottom: 0;
        height: 75px;
        animation-timing-function: ease-out;
    }
    15% {
        height: 100px;
        bottom: 10%;
        animation-timing-function: ease-in;
    }
    20% {
        bottom: 0;
        height: 80px;
        animation-timing-function: ease-out;
    }
    25%{
        bottom: 5%;
        height: 100px;
        animation-timing-function: ease-in;
    }
    29% {
        bottom: 0;
        height: 90px;
        animation-timing-function: ease-in;
        right: 20px;
        width: 100px;
    }
    40%{
        bottom: 70%;
        right: 45%;
    }
    /* 50% {
        bottom: 50%;
        left: 50%;0
    } */
    
    100% {
        bottom: 70vh;
        right: 45vw;
        
    }
    
}